* {
    list-style-type: none;
    text-decoration: none;
}

.header {
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lobster', cursive;
}

.header:visited {
        text-decoration: none;
        color:black;
}

.recipe-list {
    display:flex;
    justify-content: center;
    align-items: center;
}

.recipe-list {
    padding: 20px;
}

.recipe {
    padding: 50px;
    margin: 40px;
    background-color: #f0f0f3;
    box-shadow: 20px 10px;
}

.recipe {
    font-family: 'Inconsolata', monospace;
    font-size: 50px;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color:#09b5b5; 
    cursor: pointer;
    transition: ease-in;
}

a:visited {
    color:black;
}

/* {
    border: 2px solid black;
} */